.grid-container{
    display: grid ;
    grid-template-columns: repeat(2,1fr)  ;
    grid-template-rows:repeat(2,1fr)  ;
    grid-auto-rows: 100px;
    background-image: url(../img/imagenes/cama\ 1\ plaza\ 2.jpg);
    background-color:rgba(0, 0, 0, 0.86);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

    /*google-map*/


    #donde-container{
            display: flex ; 
            padding: 40px;
            background-size: 100%;
            background-position: center;
            justify-content:center;
            overflow: hidden;
    }

    .map{padding: 10px;
        width: 500px;
        height: 70% ;
        border: 5px solid black;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    /*descripcion*/

    .estamos-container{display: flex;
            width: 100%;
            height: 100%;
            
            
            
    }
    .estamos{ 
        padding: 30px;
        margin: 20px;
        color: rgb(75, 73, 73);
        background-color: rgba(189, 186, 240, 0.8);
        border: solid 2px black ;
        font-style: italic;
        color: black;
        justify-self: center;
        align-self: center;
        
    }

    /*opinion*/
    
    .opinion-container{ display: flex;
        justify-self: center;
        background-color: rgba(241, 233, 111, 0.911);
        border: 3px solid black;
        margin: 10px;
        width: 400px;
        height: 70%;
        justify-content: center;
        border-radius: 10%;
        overflow: hidden;
        
    }

            
    
    /*imagen-frente*/
    .img-container{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .img-fren1{
        width: 85%;
        height: 70%;
        border: 3px solid black;
        margin: 10px;
    }


@media screen and (max-width: 900px){
        /*donde nos encontras*/
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        background-color: black;
        justify-self: center;
        background-image: none;
    }
    .map{
        width: 400px;
        height: 100%;
    }

    .opinion-container{ display: flex;
        justify-self: center;
        background-color: rgba(241, 233, 111, 0.911);
        border: 3px solid white;
        width: 350px;
        height: 50%;
        border-radius: 10%;
        }
        
        /*contactos*/
    .lab{
        font-size: 15px;
        
        }
    .input1{
        font-size: 15px;
        }
    .form{display: flex;
        color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 450px;
        align-content: center;
        padding: 30px;
        background-color:  rgb(245, 199, 235,60%);
        
        }
    
    /*donde nos encontras*/
    .grid-container {
        display: block;
        background-color: black;
        justify-self: center;
        background-image: none;
        }          
    .map{
        width: 400px;
        height: 100%;
        }




    .opinion-container{ display: flex;
        justify-self: center;
        background-color: rgba(241, 233, 111, 0.911);
        border: 3px solid white;
        width: 350px;
        height: 50%;
        border-radius: 10%;
        }
    
}










    
