.index{
    background-image:radial-gradient(#bb07bb, #800080, #160016);
}

.carousel-inner{
    
    border: 3px solid black ;
    
}
.logo-cannon{width: 180px;
    height: 80px;
    border: 10px;
    border-color: black;

}
.logo-esperanza{width: 180px;
    height: 80px;
    background-color: red;

}
.prom1{display: flex;
    justify-content: center;
    border:  solid 5px black;
    border-style: 80px;
    border-radius: 5px;
    background-color: rgb(153, 119, 150);
    width: 98%;
    
}
.prod1{display: flex;
    justify-content: center;
    border:  solid 5px black;
    border-style: 80px;
    border-radius: 5px;
    background-color: rgb(153, 119, 150);
    width: 98%;
    

}
.list-card3 {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.banner{
    width: 100%;
    height: 300px;
    background-color: red;
}
.marcas{
    display: flex;
    justify-content: space-around;
}



