

.carousel-inner{
    padding: 15px;
    border: 3px solid $colorpro ;
}
.logo-cannon{width: 180px;
    height: 80px;
    border: 10px;
    border-color: black;

}
.logo-esperanza{width: 180px;
    height: 80px;
    background-color: red;

}
.prom1{display: flex;
    justify-content: center;
    border:  solid 5px black;
    border-style: 80px;
    border-radius: 5px;
    background-color: $colorpro;
    width: 100%
}
.prod1{display: flex;
    justify-content: center;
    border:  solid 5px black;
    border-style: 80px;
    border-radius: 5px;
    background-color: $colorpro;
    width: 100%

}
.list-card {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.banner{
    width: 100%;
    height: 300px;
    background-color: red;
}



